body {
	background-color: #EEEEEE;
	overflow-x: scroll; 
	overflow-y: scroll;
}

.tablaExterior {
	background-color: #FFFFFF;
	height: 650px;
	width: 1000px;
}

.tablaInterior {
	width: 960px;
}

.textoTitulos1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #17335b;
}

.textoTitulos2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #008771;
}

.textoTitulos3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #008771;
}

.textoTitulos4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

.textoTablas1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #008771;
	background-color: #EEEEEE;
	height: 30px;
}

.textoTablas2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #EEEEEE;
	height: 30px;
}

.textoRojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F00000;
}